Leture/
Task 1. Calculator of two numbers/x64/
Task 1. Calculator of two numbers/.vs/
Task 1. Calculator of two numbers/GettingToKnowVisualStudio.vcxproj.user
Task 2. Counter/x64/
Task 2. Counter/.vs/
Task 2. Counter/GettingToKnowVisualStudio.vcxproj.user